extends ../layout/index
block  contenido
    main.container.mt-5
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia exercitationem officia dicta atque recusandae deleniti perferendis adipisci. Nisi provident, laboriosam aut inventore quas pariatur dignissimos enim quaerat distinctio dolores assumenda?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae rem, sapiente aut delectus quae harum qui aliquam beatae ut consequuntur iusto eaque, quam, eos repellendus deserunt doloremque dolor optio mollitia!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, voluptas accusamus nihil saepe, qui, fugiat doloribus rem quod voluptate ut sunt quam dolorem error incidunt! Veniam similique vel quae nam.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ullam quo sed amet ipsa. Quos veritatis aliquid cum, ullam doloremque quaerat 
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ullam quo sed amet ipsa. Quos veritatis aliquid cum, ullam doloremque quaerat 
                .col-md-4   
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ullam quo sed amet ipsa. Quos veritatis aliquid cum, ullam doloremque quaerat     